*{
  box-sizing: border-box;
}

@media screen and (max-width:1023px) {
  .container{
    font-size: 8px!important;
    padding: 0!important;
    .side-bar{
      display: none;
    }
    .main-items{
      width: 100%!important;
      .submit-wrapper{
        margin: 30px auto!important;
        &__submit-btn{
          width: 100%;
          
        }
      }
    }
  }
  
}




.container{
  background-color: rgb(233, 230, 230);
  display: flex;
  width: auto;
  padding: 120px;
  .side-bar{
    width: 20%;
    height: 100vh;
    margin-right: 24px;
    &__group{
      background-color: white;
      margin-bottom: 40px;
      padding: 10px;
      &__title{
        font-weight: bold;
        margin-bottom: 16px;
      }
      &__list{
        list-style: none;
        border: solid 1px gray;
        background-color: white;
        padding: 8px;
        a{
          text-decoration: none;
          color: rgb(119, 118, 118);
        }
      }
    }

  }
  .main-items{
    width: 80%;
    height: 100%;
    
    .wrapper{
      margin: 0 8px 16px 8px;
      width: 100%;
      &__label{
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        .required{
          color: red;
        }
      }
      .form-control{
        width: 70%;
        padding: 10px;
      }
    }
    .form-separator{
      display: block;
      margin: 32px 16px;
      border: 1px solid rgb(172, 168, 168);
    }
    .image-wrapper{

      &__image-box{
        height: 230px;
        overflow-x: scroll;
        display:flex;
        
        &__js{
          min-width: 200px;
          margin-right: 8px;
          &__label{
            border: solid 1px rgb(185, 185, 185);
            padding: 30px 50px;
            height: 70%;
            display: inline-block;
            margin-right: 8px;
            &__image{
              height: 100px;
              &__url{
                display: block;
                max-width: 100px;
                max-height: 100px;
              }
            }
            &__file{
              display: none;
            }
          }
          .js-remove{
            max-width: 30%!important;
            &__text{
            display: block;
            padding: 0.5em 1em;
            background: #c24332;
            color: #FFF;
            font-size: 12px;
            border-bottom: solid 4px #627295;
            border-radius: 3px;
            margin-top: 8px;
            text-align: center;
            }
            &__text:active {
              -webkit-transform: translateY(4px);
              transform: translateY(4px);
              border-bottom: none;
            }
          }
          
        }
      }
    }
    .name-wrapper{
      width: 100%;
      margin-top: 32px;
      &__name{
      }
    }
    .description-wrapper{
      width:100%;
      &__description{
      }
    }
    .category-wrapper{
      .category-wrapper-label{
        .category-wrapper-box{
          width: 70%;
          display: block;
          .category-wrapper-select{
            width: 100%;
            #parent_category {
              width: 100%;
              height: 24px;
            }
            #children_wrapper {
              width: 100%;
              text-align: right;
              margin-right:32px ;
              #child_category {
                width: 100%;
              }
            }
            #grandchildren_wrapper {
              width: 100%;
              text-align: right;
              margin-right:32px ;
              #grandchild_category {
                width: 64%;
              }
            }
          }
        }
      }
    }
    .brand-wrapper{
      &__brand{
      }
    }
    .condition-wrapper{
      &__condition{
        width: 250px;
        height: 25px;
      }
    }
    .fee-wrapper{
      &__fee{
        width: 250px;
        height: 25px;
      }
    }
    .shipping_days-wrapper{
      &__shipping-days{
        width: 250px;
        height: 25px;
      }
    }
    .area-wrapper{
      &__area{
        width: 250px;
        height: 25px;
      }
    }

    .price-wrapper{
      &__price{

      }
    }
    .submit-wrapper{
      text-align: center;
      &__submit-btn{
        padding: 10px 40px;
        border-style: double;
        cursor: pointer;
      }
    }

  }
}