.search {
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  background-color: #eee;
  display: flex;
  &__left {
    width: 25%;
    padding: 50px 10px 0 50px;
  }
  &__right {
    width: 75%;
    .itemsBox {
      padding: 50px 20px;
      .searchResult-head {
        font-size: 23px;
        font-weight: bolder;
        span {
          font-size: 20px;
          font-weight: normal;
        }
      }
      .searchResult-num {
        font-size: 15px;
        margin-top: 15px;
      }
      .searchResult-nil {
        font-size: 23px;
      }
      .searchResult-nil-text {
        font-size: 14px;
        margin-top: 15px;
      }
      .searchResult-new {
        font-size: 23px;
        font-weight: bold;
        margin-top: 50px;
      }
      .newContent {
        margin-bottom: 30px;
      }
    }
  }
}
