// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.show {
  background-color: #f8f8f8;
  &__main {
    padding: 40px;
    .content {
      width: 700px;
      margin: 0 auto;
      &__top {
        .item {
          background-color: #fff;
          padding: 25px 40px 40px;
          &__name {
            text-align: center;
            font-weight: bold;
            font-size: 25px;
          }
          &__img {
            margin-top: 16px;
            &__list {
              .swiper-container {
                width: 400px;
                font-size: 0;
              }
              /* 2個目のSwiper全体のスタイル */
              .swiper2 {
                
                margin-top: 8px;
              }
              /* 2個目のSwiperのスライドのスタイル */
              .swiper2 .swiper-slide {
                height: 100px;
                line-height: 100px;
                -webkit-filter: brightness(0.5);
                filter: brightness(0.5);
              }
              /* 2個目のSwiperの現在のスライドのスタイル */
              .swiper2 .swiper-slide-active {
                -webkit-filter: brightness(1);
                filter: brightness(1);
              }
            }
          }
          &__price {
            margin: 24px 0 ;
            text-align: center;
            span {
              font-size: 50px;
              font-weight: bold;
              margin: 8px;
            }
            &-tax {
              span {
                font-size: 20px;
                font-weight: normal;
              }
            }
          }
          &__edit {
            align-items: center;
            color: white;
            font-size: 30px;
            background-color: red;
            width: 100%;
            height: 50px;
          }
          .or {
            text-align: center;
            margin: 8px;
          }
          &__delete {
            align-items: center;
            color: white;
            font-size: 30px;
            background-color: gray;
            width: 100%;
            height: 50px;
          }
          &__purchase {
            align-items: center;
            color: white;
            font-size: 30px;
            background-color: red;
            width: 100%;
            height: 100px;
          }
          #item__purchase--sold {
            background-color: #aaa;
            cursor: not-allowed;
            text-align: center;
            line-height: 3.5;
          }
          &__description {
            margin-top: 32px;
            margin-bottom: 32px;
          }
          table {
            margin-bottom: 24px;
            width: 100%;
            height: 380px;
            tbody {
              tr {
                th {
                  width: 20%;
                  background-color: #eee;
                  padding: 8px;
                  border: 1px solid #dedede;
                  text-align: center;
                }
                td {
                  width: 61%;
                  padding: 15px;
                  border: 1px solid #dedede;
                }
              }
            }
          }
          .option {
            display: flex;
            justify-content: space-between;
            &__like {
              display: flex;
              &-btn1 {
                padding: 5px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
              }
            }
            &__report {
              &-btn2 {
                padding: 5px 10px;
                border-radius: 5px;
                color: #333;
                border: 1px solid #333;
              }
            }
          }
        }
      }
      .switch {
        display: flex;
        justify-content: space-between;
        &__before {
          color: #3CCACE;
        }
        &__after {
          color: #3CCACE;
        }
      }
      .other {
        margin: 24px 0 8px;
        color: #3CCACE;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}